<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Admin Pustakalaya</title>
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
	    <!----css3---->
        <link rel="stylesheet" href="css/custom.css">
		
		
		<!--google fonts -->
	    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
	
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/styles/style.css">
	   <!--google material icon-->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

  </head>
  <body>
  


   
   
   
      <!-------page-content start----------->
  
	     
		  <!------top-navbar-start-----------> 
		     
		<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Pustakalya</a>
        <div class="navbar-right-content">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    
                 
                </ul>
            </div>
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2" style="background-color: white;" type="search" name="query" placeholder="Search Books" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
		  <!------top-navbar-end-----------> 
		  
		  
		   <!------main-content-start-----------> 
		     
		      <div class="main-content">
			     <div class="row">
				    <div class="col-md-12">
					   <div class="table-wrapper">
					     
					   <div class="table-title">
					     <div class="row">
						     <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
							    <h2 class="ml-lg-2">Books Inventory</h2>
							 </div>
							 <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
							   <a href="#addnewbook" class="btn btn-success" data-toggle="modal">
							   <i class="material-icons">&#xE147;</i>
							   <span>Add New Book</span>
							   </a>
							   <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
							   <i class="material-icons">&#xE15C;</i>
							   <span>Delete</span>
							   </a>
							 </div>
					     </div>
					   </div>
					   
					   <table class="table table-striped table-hover">
					      <thead>
						     <tr>
							 <!-- <th><span class="custom-checkbox">
							 <input type="checkbox" id="selectAll"> -->
							 <label for="selectAll"></label></th>
							 <th>ID</th>
							 <th>Name</th>
							 <th>Author</th>
							 <th>Price</th>
							 <th>Genre</th>
							 <th>Image</th>
							 <th>Quantity</th>
							 <th>Operations</th>
							 </tr>
						  </thead>
						  
						  <tbody>
							<% books.forEach(book => { %>
						      <tr>
							
							 <th><%= book.id %></th>
							 <th><%= book.name %></th>
							 <th><%= book.author %></th>
							 <th><%= book.price %></th>
							 <th><%= book.genre %></th>
							 <th><%= book.image.substring(0, 15) %></th>
							 <th><%= book.quantity %></th>
							 <th>
							
							<a href="#editnewbook" class="edit" data-toggle="modal" data-_id="<%= book._id %>" data-id="<%= book.id %>"
								data-name="<%= book.name %>" data-author="<%= book.author %>" data-price="<%= book.price %>"
								data-genre="<%= book.genre %>" data-image="<%= book.image %>" data-quality="<%= book.quantity %>" >
								<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
 							 </a>
  
								
							   <a href="#deleteBook" class="delete" data-toggle="modal"  data-_id="<%= book._id %>" data-id="<%= book.id %>"
								data-name="<%= book.name %>" data-author="<%= book.author %>" data-price="<%= book.price %>"
								data-genre="<%= book.genre %>" data-image="<%= book.image %>">
							   <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
							   </a>
							 </th>
							 </tr>
							 
							
							   <% }); %>
						  </tbody>
						  
					      
					   </table>
					   
					   
					   </div>
					</div>
					
					
									   <!----add-modal start--------->
		<div class="modal fade" tabindex="-1" id="addnewbook" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="/addBook" method="post">
      <div class="modal-body">
		
        <div class="form-group">
		    <label>ID</label>
			<input type="text" name="id" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Name</label>
			<input type="text" name="name" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Author</label>
			<input type="text" name="author" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Price</label>
			<input type="text" name="price" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Genre</label>
			<input type="text" name="genre" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Image</label>
			<input type="text" name="image" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Quantity</label>
			<input type="text" name="quantity" class="form-control" required>
		</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
	</form>
    </div>
  </div>
</div>

					   <!----add-modal end--------->
					   <div class="modal fade" tabindex="-1" id="editnewbook" role="dialog">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title">Edit Book</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<form action="/editBook" method="post">
							<div class="modal-body">
								<div class="form-group">
									
									<input type="text" name="_id" class="form-control" required hidden>
								</div>
							  <div class="form-group">
								  <label>ID</label>
								  <input type="text" name="id" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Name</label>
								  <input type="text" name="name" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Author</label>
								  <input type="text" name="author" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Price</label>
								  <input type="text" name="price" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Genre</label>
								  <input type="text" name="genre" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Image</label>
								  <input type="text" name="image" class="form-control" required>
							  </div>
							  <div class="form-group">
								<label>Quantity</label>
								<input type="text" name="quantity" class="form-control" required>
							</div>
					  
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							  <button type="submit" class="btn btn-success">Update Changes</button>
							</div>
						  </form>
						  </div>
						</div>
					  </div>					   
					   
					 <!-- Delete modal -->
					 <div class="modal fade" tabindex="-1" id="deleteBook" role="dialog">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title">Are you sure you wanna delete this book?</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<form action="/deleteBook" method="delete">
							<div class="modal-body">
								<div class="form-group">
									
									<input type="text" name="_id" class="form-control" required hidden>
								</div>
							  <div class="form-group">
								  <label>ID</label>
								  <input type="text" name="id" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Name</label>
								  <input type="text" name="name" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Author</label>
								  <input type="text" name="author" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Price</label>
								  <input type="text" name="price" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Genre</label>
								  <input type="text" name="genre" class="form-control" required>
							  </div>
							  <div class="form-group">
								  <label>Image</label>
								  <input type="text" name="image" class="form-control" required>
							  </div>
							  <div class="form-group">
								<label>Quantity</label>
								<input type="text" name="quantity" class="form-control" required>
							</div>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
							  <button type="submit" class="btn btn-success">Yes</button>
							</div>
						  </form>
						  </div>
						</div>
					  </div>			
		  
		    <!------main-content-end-----------> 
		  
		 
		 
		 <!----footer-design------------->
		 
		 <footer class="footer">
		    <div class="container-fluid">
			   <div class="footer-in">
			      <p class="mb-0">&copy 2023-24 Pustakalaya . All Rights Reserved.</p>
			   </div>
			</div>
		 </footer>
		 
		 
		 
		 
	  </div>
   




<!-------complete html----------->





  
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="js/jquery-3.3.1.slim.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/jquery-3.3.1.min.js"></script>
  

  
  <script type="text/javascript">
       $(document).ready(function(){
	      $(".xp-menubar").on('click',function(){
		    $("#sidebar").toggleClass('active');
			$("#content").toggleClass('active');
		  });
		  
		  $('.xp-menubar,.body-overlay').on('click',function(){
		     $("#sidebar,.body-overlay").toggleClass('show-nav');
		  });
		  
	   });
  </script>
  
  
  <script type="text/javascript">
	$(document).ready(function(){
	  $(".xp-menubar").on('click', function(){
		$("#sidebar").toggleClass('active');
		$("#content").toggleClass('active');
	  });
  
	  $('.xp-menubar,.body-overlay').on('click', function(){
		$("#sidebar,.body-overlay").toggleClass('show-nav');
	  });
  
	  // Handle the click event on the "Edit" button
	  $('.edit').on('click', function(){
		// Extract the book data from the "data-*" attributes
		var _id = $(this).data('_id');
		var id = $(this).data('id');
		var name = $(this).data('name');
		var author = $(this).data('author');
		var price = $(this).data('price');
		var genre = $(this).data('genre');
		var image = $(this).data('image');
		var quantity = $(this).data('quantity');
  
		// Populate the input fields in the modal with the extracted book data
		$('#editnewbook input[name="_id"]').val(_id)
		$('#editnewbook input[name="id"]').val(id);
		$('#editnewbook input[name="name"]').val(name);
		$('#editnewbook input[name="author"]').val(author);
		$('#editnewbook input[name="price"]').val(price);
		$('#editnewbook input[name="genre"]').val(genre);
		$('#editnewbook input[name="image"]').val(image);
		$('#editnewbook input[name="quantity"]').val(quantity);
	  });
	});
  </script>
  
  <script type="text/javascript">
	$(document).ready(function(){
	  $(".xp-menubar").on('click', function(){
		$("#sidebar").toggleClass('active');
		$("#content").toggleClass('active');
	  });
  
	  $('.xp-menubar,.body-overlay').on('click', function(){
		$("#sidebar,.body-overlay").toggleClass('show-nav');
	  });
  
	  // Handle the click event on the "Edit" button
	  $('.delete').on('click', function(){
		// Extract the book data from the "data-*" attributes
		var _id = $(this).data('_id');
		var id = $(this).data('id');
		var name = $(this).data('name');
		var author = $(this).data('author');
		var price = $(this).data('price');
		var genre = $(this).data('genre');
		var image = $(this).data('image');
  
		// Populate the input fields in the modal with the extracted book data
		$('#deleteBook input[name="_id"]').val(_id)
		$('#deleteBook input[name="id"]').val(id);
		$('#deleteBook input[name="name"]').val(name);
		$('#deleteBook input[name="author"]').val(author);
		$('#deleteBook input[name="price"]').val(price);
		$('#deleteBook input[name="genre"]').val(genre);
		$('#deleteBook input[name="image"]').val(image);
	  });
	});
  </script>
  

  </body>
  
  </html>


